name: pr
on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
  workflow_dispatch: {}
jobs:
  pr:
    name: "Pull Request Checks"
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v3
      - name: "Framed verify"
        uses: 'mactat/framed-action@v0.0.7'
      - name: "Functional tests"
        run: make test BUILD=true
        shell: bash