name: pr
on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
  workflow_dispatch: {}
jobs:
  pr:
    name: "Pull Request Checks"
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v3
      - name: "Framed verify"
        uses: 'mactat/framed-action@v0.0.7'
      - name: "Functional tests"
        run: make test BUILD=true EXPORT=true
        shell: bash
      - name: Test Summary
        uses: test-summary/action@v2
        with:
          paths: "build/results/test.xml"
          output: test-summary.md
        if: always()

      - name: Upload test summary
        uses: actions/upload-artifact@v3
        with:
          name: test-summary
          path: test-summary.md
        if: always()